.container_top{

    display: flex;
    height:100vh;
    width:100vw;
    flex-wrap: wrap;
    
}
.nav{
    background-color: black ;
    flex-basis: 10%;
    height:calc(100% - 80px);    
}

.song_section{
    background-color: #141922;
    flex-basis:90%;
    height: calc(100% - 80px);
    
}

.player_section{
    background-color: #282828;
    height: 80px;
    flex-basis: 100%;

}

.container_img{
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.nav_top{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav_bottom{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav_img{
    height: 20px; ;
    width: auto;
}
#scr{
    height: 10px; ;
   
    
    }
  
    .nav_top_img{
        margin-top: 5px;
    }
    .nav_bottom_img{
        margin-bottom: 10px;
        width: auto;
    }
   
    #profile_icon{
        background-color: #808080;
        border-color: none;
        border-radius: 50%;
       
    }
    .nav_upgrade{
        height:70px ;  
        background-color:#080b12;  
    }
    .nav_upgrade{
      display: flex;
      justify-content: end;     
      align-items: center;
      opacity: 90%;
    }
    .pill{
        padding: 10px 30px; 
        border: 2px solid white;  
        border-radius: 30px;
        color: white;
        font-size: 10px;
       
    }
    .nav_top span{
        display: none;
        color: white;
        font-size: 15px;
    }
    .nav_bottom span{
        display: none;
        color: white;
        font-size: 5px;
    }
    .nav_playlist{
        display: none;
        color: white;
        font-size: 10px;
    }




